
\.idea/compiler\.xml

\.idea/libraries/Arconix\.xml

\.idea/libraries/Maven__br_net_fabiozumbi12_RedProtect_7_3_0\.xml

\.idea/libraries/Maven__com_google_code_gson_gson_2_2_4\.xml

\.idea/libraries/Maven__com_google_guava_guava_17_0\.xml

\.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1\.xml

\.idea/libraries/Maven__com_massivecraft_factions_LATEST\.xml

\.idea/libraries/Maven__com_massivecraft_factionsuuid_LATEST\.xml

\.idea/libraries/Maven__com_palmergames_bukkit_towny_LATEST\.xml

\.idea/libraries/Maven__com_plotsquared_RELEASE\.xml

\.idea/libraries/Maven__com_sk89q_worldedit_LATEST\.xml

\.idea/libraries/Maven__com_sk89q_worldguard_6_2_2\.xml

\.idea/libraries/Maven__com_songoda_arconix_LATEST\.xml

\.idea/libraries/Maven__com_songoda_epicspawners_LATEST\.xml

\.idea/libraries/Maven__com_wasteofplastic_askyblock_3_0_6_8\.xml

\.idea/libraries/Maven__commons_lang_commons_lang_2_6\.xml

\.idea/libraries/Maven__javax_persistence_persistence_api_1_0\.xml

\.idea/libraries/Maven__junit_junit_4_10\.xml

\.idea/libraries/Maven__me_markeh_factionsframework_1_2_0\.xml

\.idea/libraries/Maven__me_ryanhamshire_GriefPrevention_LATEST\.xml

\.idea/libraries/Maven__net_milkbowl_vault_VaultAPI_1_6\.xml

\.idea/libraries/Maven__org_avaje_ebean_2_8_1\.xml

\.idea/libraries/Maven__org_bukkit_bukkit_1_9_R0_1_SNAPSHOT\.xml

\.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1\.xml

\.idea/libraries/Maven__org_kingdoms_LATEST\.xml

\.idea/libraries/Maven__org_spigotmc_spigot_1_13_2\.xml

\.idea/libraries/Maven__org_yaml_snakeyaml_1_15\.xml

\.idea/libraries/Maven__us_talabrek_ultimateskyblock_LATEST\.xml

\.idea/libraries/spigot_1_12_2\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/uiDesigner\.xml

\.idea/workspace\.xml

out/production/UltimateStacker/com/songoda/ultimatestacker/stack/Stack\.class

out/production/UltimateStacker/com/songoda/ultimatestacker/stack/StackManager\.class

out/production/UltimateStacker/com/songoda/ultimatestacker/tasks/StackingTask\.class

out/production/UltimateStacker/com/songoda/ultimatestacker/UltimateStacker\.class

out/production/UltimateStacker/plugin\.yml

target/classes/com/songoda/ultimatestacker/command/AbstractCommand\.class

target/classes/com/songoda/ultimatestacker/command/AbstractCommand\$ReturnType\.class

target/classes/com/songoda/ultimatestacker/command/CommandManager\.class

target/classes/com/songoda/ultimatestacker/command/commands/CommandGive\.class

target/classes/com/songoda/ultimatestacker/command/commands/CommandReload\.class

target/classes/com/songoda/ultimatestacker/command/commands/CommandUltimateStacker\.class

target/classes/com/songoda/ultimatestacker/entity/EntityStack\.class

target/classes/com/songoda/ultimatestacker/entity/EntityStackManager\.class

target/classes/com/songoda/ultimatestacker/events/BlockListeners\.class

target/classes/com/songoda/ultimatestacker/events/DeathListeners\.class

target/classes/com/songoda/ultimatestacker/events/DropListeners\.class

target/classes/com/songoda/ultimatestacker/events/ShearListeners\.class

target/classes/com/songoda/ultimatestacker/events/SpawnerListeners\.class

target/classes/com/songoda/ultimatestacker/handlers/HologramHandler\.class

target/classes/com/songoda/ultimatestacker/Locale\.class

target/classes/com/songoda/ultimatestacker/References\.class

target/classes/com/songoda/ultimatestacker/spawner/SpawnerStack\.class

target/classes/com/songoda/ultimatestacker/spawner/SpawnerStackManager\.class

target/classes/com/songoda/ultimatestacker/storage/Storage\.class

target/classes/com/songoda/ultimatestacker/storage/StorageItem\.class

target/classes/com/songoda/ultimatestacker/storage/StorageRow\.class

target/classes/com/songoda/ultimatestacker/storage/types/StorageMysql\.class

target/classes/com/songoda/ultimatestacker/storage/types/StorageYaml\.class

target/classes/com/songoda/ultimatestacker/tasks/StackingTask\.class

target/classes/com/songoda/ultimatestacker/UltimateStacker\.class

target/classes/com/songoda/ultimatestacker/utils/Methods\.class

target/classes/com/songoda/ultimatestacker/utils/MySQLDatabase\.class

target/classes/com/songoda/ultimatestacker/utils/SettingsManager\.class

target/classes/com/songoda/ultimatestacker/utils/SettingsManager\$settings\.class

target/classes/en_US\.lang

target/classes/plugin\.yml

target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles\.lst

target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles\.lst
